<?xml version="1.0" encoding="UTF-8"?>
<!--
    Default configuration for the multiplechoice question template.
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>image_select-multiplechoice</name>
        <creationDate>23/12/2016</creationDate>
        <author>Markus Flür</author>
        <authorEmail>mfluer@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>Multiplechoice with images.</description>
    </metadata>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/imageselect.css</filename>
        </css>
        <js>
            <filename>scripts/imageselect.js</filename>
        </js>
    </files>

     <custom_attributes>
        <attribute>
            <name>image_url</name>
            <category>Display</category>
            <sortorder>90</sortorder>
            <inputtype>text</inputtype>
            <help>Image to map.</help>
            <caption>Url to image: </caption>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
